.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s;
}

.btn-primary{
    background: #FC997C;
    color: bisque;
    border: 2px solid #FC997C;
}
.btn-outline-primary{
    background: #fff;
    color: bisque;
    border: 2px solid #FC997C;
}
.btn-outline-primary:hover{
    background: #FC997C;
    color: bisque;
    border: 2px solid #FC997C;
}

.btn-secondary{
    background: #525FE1;
    color: bisque;
    border: 2px solid #FC997C;
}
.btn-primary:hover{
    background: #fff;
    color: bisque;
    border: 2px solid #FC997C;
}

.btn-secondary:hover{
    background: #fff;
    color: bisque;
    border: 2px solid #525FE1;
}
.btn-outline-secondary{
    background: #fff;
    color: bisque;
    border: 2px solid #525FE1;
}
.btn-outline-secondary:hover{
    background: #525FE1;
    color: bisque;
    border: 2px solid #FC997C;
}